@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

.container {
  @media (max-width: 768px) {
    @include layout;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .buttonsAdmin {
      margin-right: 1.25rem;
      display: flex;
      gap: 2rem;
      @include updateDeleteButtonDisplay;
    }
  }

  .title,
  .content {
    @media (max-width: 768px) {
      grid-column: 2/12;
    }
  }

  .content {
    @include studentDashboardContent;
  }
}
