@use '../../../../../../mixins' as *;

.slide {
  height: 100%;
  aspect-ratio: 1.77;

  &.active {
    height: auto;
  }

  .video {
    margin-bottom: 0.25rem;
    display: block;
    height: 89%;
  }

  @include videoPlay;

  span {
    display: block;
    text-align: center;
    font-style: italic;
  }
}
