<a class="link" [routerLink]="routerLink()"
  ><img src="/assets/icons/arrow-left.svg" alt="Flèche de retour"
/></a>

<section>
  <h2>{{ info?.city }}</h2>

  <div class="categories">
    <app-training-card
      [cards]="categories"
    />
  </div>
  

  <div class="mapAdress">
    <div class="map">
      <h2>Localisation :</h2>

      <app-locations-times-location-map
        [lat]="info?.coord?.[0] ?? 0"
        [lng]="info?.coord?.[1] ?? 0"
      />
    </div>

    <div class="address">
      <h2 class="title">Adresse :</h2>

      <ul>
        <li class="name">
          {{ info?.nameRoom }}
          @if(info?.comment) { * }
        </li>

        <li>{{ info?.adress }}</li>

        <li>{{ info?.postalCode }} {{ info?.city }}</li>

        <li>
          <a [href]="'tel:' + numberPhoneLink(info?.numberPhone)">{{ info?.numberPhone }}</a>
        </li>
        @if(info?.comment) {
        <li class="comment">* {{ info?.comment }}</li>
        }
      </ul>
    </div>
  </div>
</section>
