@use '../../../../mixins' as *;
@use '../../../../variables' as *;

:host {
  margin-top: 5.5rem;
  position: relative;
  display: block;
}

.link {
  position: absolute;
  top: -2.156rem;
  left: 7.75rem;
  width: 2.5rem;
  height: 2rem;

  @media (max-width: 1024px) {
    top: -2.078rem;
    left: 5.9rem;
  }

  @media (max-width: 768px) {
    top: -2.375rem;
    left: 8.5%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

section {
  position: relative;
  @include layout;

  h2,
  .categories {
    grid-column: 2/12;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .categories {
    @include locationsCategories;
  }

  .oneCategory {
    justify-content: center;
  }

  .twoCategories {
    justify-content: space-around;
  }

  .threeCategories {
    justify-content: space-between;
  }

  .thridCategories {
    @media (min-width: 769px) and (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .category {
      @media (min-width: 769px) and (max-width: 1024px) {
        width: calc(100% - 3.25rem);
      }
    }
  }

  .mapAdress {
    grid-column: 1/13;
    margin-top: $marginArticle;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    background: $gray;
    @include layout;

    .map {
      grid-column: 2/7;

      @media (max-width: 768px) {
        grid-column: 2/12;
      }
    }

    .address {
      grid-column: 8/12;

      @media (max-width: 768px) {
        grid-column: 2/12;
        margin-top: $marginArticle;
      }

      .title {
        margin-top: 53%;

        @media (max-width: 768px) {
          margin-top: 0;
        }
      }

      ul {
        li {
          margin-bottom: 1.25rem;
          font-weight: 500;
        }

        .name {
          color: $red;
          font-weight: bold;
        }

        .comment {
          font-style: italic;
          font-size: 1rem;
          font-weight: 400;
        }

        a {
          color: $black;
        }
      }
    }
  }
}
