<header>
  <app-logo class="alignDev" />

  @if(menuBurger) {
  <div class="menuBurger">
    @if(!displayNavService.displayNav){
    <img
      src="assets/icon/bars-solid.svg"
      alt="Icone menu"
      class="bars-solid"
      (click)="addNav()"
      loading="lazy"
    />} @else {
    <img
      src="assets/icon/xmark-solid.svg"
      alt="Icone fermeture menu"
      class="xmark-solid"
      (click)="removeNav()"
      loading="lazy"
    />
    }
  </div>
  }

  <nav id="nav">
    <ul>
      @for (headerLink of headerLinks; track headerLink.title) {
      <li class="{{ headerLink.navItem }}">
        <a
          routerLink="{{ headerLink.path }}"
          [routerLinkActiveOptions]="{ exact: shouldUseExactMatch(headerLink.path) }"
          routerLinkActive="active"
          (click)="removeNav()"
        >
          <div>
            <img [src]="headerLink.src" alt="Icone {{ headerLink.title }}" loading="lazy" />
          </div>

          {{ headerLink.title }}
        </a>
      </li>
      }
    </ul>
  </nav>
</header>
