@use '../../mixins' as *;
@use '../../variables' as *;

header {
  position: relative;
  padding: 1rem 0;
  background: $green;
  background: linear-gradient(0deg, rgba(35, 108, 3, 0.6) 0%, rgba(35, 108, 3, 1) 100%);
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.6);
  @include layout;

  .menuBurger {
    @media (max-width: 1024px) {
      position: absolute;
      top: 2.125rem;
      right: 2.375rem;
      width: 2.67rem;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        cursor: pointer;
      }

      .bars-solid {
        height: 3rem;
      }

      .xmark-solid {
        height: 100%;
      }
    }
  }

  nav {
    grid-column: 4/12;
    @media (max-width: 1024px) {
      grid-column: 1/12;
      padding: 0 1rem;
      max-height: 0;
      overflow: hidden;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 0.3s ease;
    }

    ul {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      list-style: none;

      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
      }

      .home {
        width: 6.54rem;

        img {
          width: 0.875rem;
          height: 0.8125rem;
        }
      }

      .capoeira {
        width: 8.94rem;

        img {
          width: 1.375rem;
          height: 1.375rem;
        }
      }

      .timePlace {
        width: 11.6rem;

        img {
          width: 0.625rem;
          height: 0.8125rem;
        }
      }

      .prestations {
        width: 17.3rem;

        img {
          width: 1.5rem;
          height: 0.875rem;
        }
      }

      .authPage {
        width: 12.66rem;

        img {
          width: 0.8125rem;
          height: 0.8125rem;
        }
      }

      li {
        a {
          display: flex;
          align-items: center;
          gap: 0.3125rem;
          color: white;
          cursor: pointer;
          text-decoration: none;
          font-size: 1.125rem;
          font-weight: 300;
          transition: all 200ms ease;

          div {
            width: 1.69rem;
            height: 1.69rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $beige-gold;
            border-radius: 100%;
          }
        }

        .active {
          transition: opacity 200ms ease;
          font-weight: 600;
          color: black;
        }
      }
    }
  }

  .display {
    max-height: 500px;
    transform: scaleY(1);
  }
  //  The logo is in a div in development
  .alignDev {
    grid-column: 2/4;

    @media (max-width: 1024px) {
      grid-column: 1/13;
      margin: 0 auto;
    }
  }
}
