<section class="description">
  <h2>La capoeira comme si vous y étiez ! :</h2>

  <iframe
    src="https://www.youtube.com/embed/dNkgFW4RDl4"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    loading="lazy"
  ></iframe>
</section>

<section class="grades">
  <h2>Les grades du groupe :</h2>

  <img src="/assets/img/grades.webp" alt="Les grades du groupe" fetchpriority="high" />
</section>
