<div>
  <form (ngSubmit)="onSubmit()">
        <div class="labelInput email">
          <label for="emailInscription">E-mail</label>

          <input
            type="email"
            id="emailInscription"
            [(ngModel)]="userEmail"
            name="userEmailInscription"
          />
    </div>

    <button>Envoyer</button>
  </form>

  <div class="messageFormSubmit">
    <app-message-form [isSubmitted]="isSubmitted"
     [isFormValid]="isFormValid" 
     [array]="formMessages"
     />
</div>
