<section>
  <div class="return">
    <app-return-admin-menu />
  </div>

  <h2>Modifier les dates de reprise d'entraînement</h2>

  <ul>
    @for(training of trainingResumes; track $index) {
    <li>
      <h3>{{ training.place }}</h3>

      <form #submit="ngForm" (ngSubmit)="onSubmit(submit, $index, training.place)">
        <div class="labelInput">
          <label for="{{ training.place }}">Reprise le : </label>

          <input type="date" id="{{ training.place }}" name="date" [(ngModel)]="training.day" />
        </div>
        <button class="buttonSubmit" type="submit">Mettre à jour</button>
      </form>

      @if(isSubmittedArray[$index]){
      <div class="formMessageSubmit">
        <app-form-message
          [isFormValid]="isFormValidArray[$index]"
          [canSubmit]="formMessages[0]"
          [cannotSubmit]="formMessages[1]"
        />
      </div>
      }
    </li>
    }
  </ul>
</section>
