@use '../../../../../../../../styles/mixins' as *;
@use '../../../../../../../..//styles/variables' as *;

$widthEmail: 22.375rem;

.search {
  input {
    width: $widthEmail;
    @include input;
  }
}
