@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

.planning {
  margin: $marginSection 0;
  padding-bottom: 1.25rem;
  background-color: $gray;
  @include layout;

  @media (max-width: 768px) {
    height: auto;
  }

  h2 {
    text-align: center;
  }

  h2, .filters,
  .calendar {
    grid-column: 4/10;

    @media (max-width: 1024px) {
      grid-column: 4/11;
    }

    @media (max-width: 768px) {
      grid-column: 2/12;
    }
  }

  .filters {
    margin-bottom: $marginArticle;
  }
}
