<section>
  <h2>Entrer votre mail pour modifier votre mot de passe</h2>

  <div class="container">
    <form (ngSubmit)="onSubmit()">
      <div class="labelInput">
        <label for="userEmailForgot">E-mail</label>

        <input type="email" id="userEmailForgot" [(ngModel)]="userEmail" name="userEmailForgot" />
      </div>

      <button class="buttonSubmit">Envoyer</button>
    </form>

    @if(isSubmitted){
    <app-form-message
      [isFormValid]="isFormValid"
      [canSubmit]="formMessages[0]"
      [cannotSubmit]="formMessages[1]"
    />}
  </div>
</section>
