@use '../../../../../../variables' as *;
@use '../../../../../../mixins' as *;

section {
  background: $gray;

  h2 {
    grid-column: 2/12;
  }

  .container {
    grid-column: 5/9;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      margin-top: $marginArticle;
      @include widthFormAuthPage;

      button {
        width: 100%;
      }
    }
  }
}
