@use '../../../../mixins' as *;
@use '../../../../variables' as *;

header {
  align-items: end;

  .alignDev {
    grid-column: 2/4;

    @media (max-width: 768px) {
      grid-column: 2/12;
      margin: auto;
    }
  }

  .member-select {
    grid-column: 4/10;
    position: relative;

    @media (max-width: 1024px) {
      margin-left: 1.5rem;
    }

    @media (max-width: 1024px) {
     grid-column: 2/6;
    }

    .user {
      display: flex;
      div {
        @include headerNavItem;

        &.link {
          cursor: pointer;
        }

        p {
          font-weight: 600;
        }

        .chevron {
          margin-left: 0.5rem;
          transform: rotate(0);
          transition: all 0.4s ease;

          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }

    ul {
      position: absolute;
      top: 2rem;
      padding: 0.5rem 0.75rem 1rem 0;
      opacity: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;
      background-color: rgba(35, 108, 3, 0.6);
      transition: all 0.4s ease;

      &.active {
        top: 2.625rem;
        opacity: 1;
      }

      a {
        @include headerNavItem;
      }
    }
  }

  .deconnexion {
    grid-column: 10/12;
    display: flex;
    justify-content: end;
    a {
      @include headerNavItem;

      @media (max-width: 768px) {
        grid-column: 2/12;
        margin: auto;
      }
    }
  }
}
