@use '../../mixins' as *;
@use '../../variables' as *;

section {
  @include layout;

  h2,
  ul {
    grid-column: 2/12;
  }

  ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3.125rem;
    list-style: none;

    @media (max-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        display: flex;
        justify-content: start;
        gap: 3.125rem;
    }

    li {
        margin: auto;
      width: 12.5rem;
      height: 12.5rem;

      @media (max-width:768px) {
        width: 200px;
        height: 200px;
      }

      a,
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }

      a {
        display: flex;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
      }
    }
  }
}
