@if (!isUser) {
  <app-header />
} @else {
  <app-header-users />
}

<main>
  <section>
    <h2>Page introuvable</h2>
    <p>
      Désolé, la page que vous recherchez n’existe pas ou a été déplacée. <br />
      Vérifiez l’adresse ou retournez à l’accueil :
    </p>

    <div class="link">
      <a [routerLink]="routerLink()"
        >Accéder à la page
        @if (!isUser) {
          d'accueil
        } @else {
          principale de votre compte
        }
      </a>
    </div>
  </section>
</main>

@if (!isUser) {
  <app-footer />
} @else {
  <app-footer-users />
}
