@use "../../../../../../mixins" as *;
@use "../../../../../../variables" as *;

section {
    @include sectionGray;
    @include layout;

    h2 {
        grid-column: 2/12;
    }
    
    p {
        grid-column: 3/12;

        @media (max-width: 768px) {
            grid-column: 2/12;
        }
    }

    a {
        grid-column: 2/12;
        text-align: center;
        color: $black;
        font-weight: 600;
    }
}