@use '../../../../../../../../styles/mixins' as *;

$inputHeight: 2rem;

form {
  input {
    height: $inputHeight;
    @include input;
  }

  fieldset {
    @include layout;

    .email {
      grid-column: 1/10;

      @media (max-width: 768px) {
        grid-column: 1/13;
      }
    }

    .type {
      grid-column: 10/13;
      position: relative;
      @include selected;

      @media (max-width: 768px) {
        grid-column: 1/13;
      }

      button {
        @include buttonSelected;
        @include input;
      }

      .selected {
        top: 5rem;
        left: 0;
        &.active {
          top: 5.3125rem;
        }
      }
    }
  }
}
