@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

section {
  @include layout;
}

.title,
.text {
  grid-column: 2/12;
}

.subtitle {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: $black;
  font-weight: 500;
}

.training,
.animations,
.contact {
  background: $gray;
}

.training {
  ul {
    margin: 1.125rem 0;

    li {
      margin: 1.125rem 0;
      color: $red;
      font-weight: bold;

      p {
        color: black;
        font-weight: 400;
      }
    }
  }
}

.animations {
  margin: 5.5rem 0;

  h2,
  .subtitle,
  .text {
    margin-top: 1.25rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    strong {
      color: $red;
    }
  }
}

.contact {
  h2 {
    grid-column: 2/12;
  }

  form,
  .messageFormSubmit {
    grid-column: 4/10;
  }

  form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2.25rem;

    @media (max-width: 768px) {
      grid-column: 2/12;
      display: flex;
      flex-direction: column;
    }

    input,
    textarea {
      @include inputSubmit;
    }

    .name,
    .phone {
      grid-column: 1/4;
    }

    .firstName {
      grid-column: 4/7;
    }

    .name,
    .firstName,
    .phone {
      @media (max-width: 768px) {
        grid-column: 1/11;
      }
    }

    .email,
    .subject,
    .message,
    button {
      grid-column: 1/7;
    }

    textarea {
      height: 16rem;
    }
  }
}
