@use '../../../../../../styles/mixins' as *;
@use '../../../../../../styles/variables' as *;

section {
  @include layout;

  h2 {
    grid-column: 2/12;
  }
}

.description {
  margin-top: 5.5rem;
  background: $gray;

  .video {
    grid-column: 3/11;
    width: 100%;
    aspect-ratio: 1.78;
    box-shadow: 0 0 1rem 0 $black;
    overflow: hidden;

    @media (max-width: 768px) {
      grid-column: 2/12;
    }
  }

  @include videoPlay;
}

.grades {
  margin-top: $marginSection;
  margin-bottom: 5.5rem;

  img {
    grid-column: 2/12;
    width: 100%;
    aspect-ratio: 3.94 / 1;
  }
}
