@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

section {
@include layout;
    h2 {
        grid-column: 2/12;
    }
}

.description {
        background: $gray;

    iframe {
        grid-column: 3/11;
        width: 100%;
        aspect-ratio: 1.78 / 1;
        box-shadow: 0 0 1rem 0 $black;

        @media (max-width: 768px) {
            grid-column: 2/12;
        }
    }
}

.grades {
    margin-top: $marginSection;
    
    img {
        grid-column: 2/12;
        width: 100%;
        aspect-ratio: 3.94 / 1;
    }
}