@use '../../../../mixins' as *;
@use '../../../../variables' as *;

ul {
  padding: 0;
  list-style: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;

  .card {
    .category {
      padding: 1.5rem;
      width: 19rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include trainingCardBackground;

      .container {
        @include updateDeleteButton;

        .title {
          @include trainingCardTitle;
        }

        .day {
          @include redBold;
        }

        @include schedules;
      }
    }
  }

  .conditions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-style: italic;
  }

  .categories {
    margin-top: 0.5rem;
    display: flex;
    gap: 1.25rem;
  }
}
