@use '../../../../../mixins' as *;
@use '../../../../../variables' as *;

section {
  margin: $marginSection 0;
  background-color: $gray;
  @include layout;

  h2,
  ul {
    grid-column: 2/12;
  }

  ul {
    margin: auto;
    padding: 0;
    display: flex;
    gap: 4rem;
    list-style: none;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }

    @media (max-width: 768px) {
      justify-content: center;
    }

    li {
      padding: 2rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 0.25rem 1rem 0.25rem rgba(0, 0, 0, 0.5);

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        text-decoration: none;
        color: black;

        img {
          width: 9.375rem;
          aspect-ratio: 1;
        }

        p {
          font-weight: bold;
        }
      }
    }
  }
}
