<app-header />

<main>
  <section>
      <h2>Définir votre mot de passe</h2>

    <form #newPassword="ngForm" (ngSubmit)="onSubmit(newPassword)">
      <div class="labelInput">
        <label for="password">Nouveau mot de passe</label>

        <input type="password" id="password" name="password" ngModel/>
      </div>

      <div class="labelInput">
        <label for="passwordCheck">Confirmer votre nouveau<br />mot de passe</label>

        <input type="password" id="passwordCheck" name="passwordCheck" ngModel/>
      </div>

      <button class="buttonSubmit" type="submit">Valider</button>
    </form>

    <app-message-form
      [isSubmitted]="isSubmitted"
      [isFormValid]="isFormValid"
      [canSubmit]="formMessages[0]"
      [cannotSubmit]="formMessages[1]"
    />
  </section>
</main>

<app-footer />
