<section>
  <h2>Administrateur</h2>

  <ul class="container">
    <li>
      <a [routerLink]="UsersRoutingService.navigateAdmin()">
        <img src="/assets/icons/admin.svg" alt="Photo de l'adhérent" />

        <p>Admin</p>
      </a>
    </li>

    <li>
      <a [routerLink]="UsersRoutingService.navigatePlanning(user.email)">
        <img src="/assets/icons/calendar.svg" alt="Icon d'un calendrier" />

        <p>Planning</p>
      </a>
    </li>
    
    <li>
      <a [routerLink]="UsersRoutingService.navigateEspaceMember(user.email)">
        <img src="/assets/icons/photo-member.svg" alt="Photo de l'adhérent" />

        <p>Espace adhérents</p>
      </a>
    </li>
  </ul>
</section>
