@use '../../../../../../../../variables' as *;
@use '../../../../../../../../mixins' as *;

section {
  .return,
  h2,
  article {
    grid-column: 2/12;
  }

  article {
    margin-bottom: $marginArticle;

    h3 {
      margin-bottom: 1.25rem;
    }
  }

  .locationCards {
    @include locations-times;

    ul {
      li {
        position: relative;
        @include updateDeleteButtonDisplay;
        @include updateDeleteButtonPosition;
      }
    }
  }
}
