@use '../../../../../../../../variables' as *;
@use '../../../../../../../../mixins' as *;

section {
  .return,
  h2,
  article {
    grid-column: 2/12;
  }

  article {
    margin-bottom: $marginArticle;

    h3 {
      margin-bottom: 1.25rem;
    }
  }

  .locationCards {
    @include locations-times;

    ul {

      li {
        position: relative;

        button {
          position: absolute;
          top: 0.5rem;
          padding: 0;
          height: 1.5rem;
          background-color: transparent;
          border: 0;
          cursor: pointer;

          img {
            border-radius: 0 !important;
          }
        }

        .button-pencil {
          left: 0.5rem;
          aspect-ratio: 1;
        }

        .button-trash {
          right: 0.5rem;
          aspect-ratio: 0.888;
        }
      }
    }
  }
}
