<h3>Filtres :</h3>

<div class="container">
  <div class="filter">
    <h4>Choisir la ville :</h4>

    <div class="content city">
      <button (click)="toggleSelectedCity()">
        <p>{{ planningService.citySelected() }}</p>

        <img
          src="/assets/icons/chevron-down.svg"
          alt="Accèder aux Suggestions"
          [class.active]="selectedCityPlanning.isSelectedDisplay"
        />
      </button>

      <div
        #city
        class="selected"
        style="display: none"
        [class.active]="selectedCityPlanning.isSelectedDisplay"
      >
        <app-input-selected
          [dataSelected]="cities"
          (inputValueChange)="inputCityChange($event)"
          [selected]="selectedCityPlanning"
          [onAction]="handleScheduleFilter"
        />
      </div>
    </div>
  </div>

  <div class="filter">
    <h4>Choisir l'horaire :</h4>

    <div class="content schedule">
      <button (click)="toggleSelectedSchedules()">
        <p>{{ planningService.scheduleSelected }}</p>

        <img
          src="/assets/icons/chevron-down.svg"
          alt="Accèder aux Suggestions"
          [class.active]="selectedSchedules.isSelectedDisplay"
        />
      </button>

      <div
        #schedule
        class="selected"
        style="display: none"
        [class.active]="selectedSchedules.isSelectedDisplay"
      >
        <app-input-selected
          [dataSelected]="schedules"
          (inputValueChange)="inputScheduleChange($event)"
          [selected]="selectedSchedules"
        />
      </div>
    </div>
  </div>
</div>
