@use '../../../../../mixins' as *;
@use '../../../../../variables' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;

  section {
    margin: $marginSection 0;
    width: 100%;
    @include sectionGray;
    @include layout;

    h2 {
      grid-column: 2/12;
    }

    p, a {
      grid-column: 2/12;
    }

    a {
      margin-bottom: 1.125rem;
      text-align: center;
      color: $black;
      font-weight: 600;
    }
  }
}
