@use '../../../../../../styles/mixins' as *;
@use '../../../../../../styles/variables' as *;

section {
  @include layout;

  button {
    width: 100%;
  }

  article {
    margin: 5.5rem 2rem;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    background: $gray;

    @media (max-width: 1024px) {
      margin: 0;
      @include layout;
    }

    @media (max-width: 768px) {
      margin: 0;
    }

    h2,
    p {
      grid-column: 2/12;

      @include widthFormAuthPage;
    }
  }

  .connexion {
    grid-column: 2/7;

    @media (max-width: 768px) {
      grid-column: 1/13;
    }

    app-authpage-connexion-form {
      grid-column: 2/12;
    }
  }

  .inscription {
    grid-column: 7/12;

    @media (max-width: 768px) {
      grid-column: 1/13;
    }

    app-authpage-inscription-form {
      grid-column: 2/12;
    }
  }
}
