@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

.connexion_container {
  grid-column: 2/12;

  @include widthFormAuthPage;

  @media (max-width: 768px) {
    @include layout;
  }

  form {
    input {
      @include inputSubmit;

      &.active {
        padding-right: 3rem;
      }
    }

    img {
      position: absolute;
      right: 1rem;
      bottom: 0.75rem;
    }

    @include selected;

    .selected {
      top: 6rem;

      &.active {
        top: 6.3125rem;
      }
    }

    a {
      font-size: 1rem;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  form,
  .messageFormSubmit {
    @media (max-width: 768px) {
      grid-column: 2/12;
    }
  }
}
