<div class="connexion_container">
  <form #connexion="ngForm" (ngSubmit)="onSubmit(connexion)">
    <div class="labelInput">
      <label for="emailConnexion">E-mail</label>
      <input
        type="email"
        id="emailConnexion"
        name="email"
        [(ngModel)]="emailValue"
        class="active"
      />

      <img
        src="/assets/icons/chevron-down.svg"
        alt="Accèder aux Suggestions"
        (click)="selectedConnexionService.toggleSelected()"
        (keydown)="toggleSelectedKeydown($event)"
        [class.active]="selectedConnexionService.isSelectedDisplay"
        tabindex="0"
      />

      <div class="selected" [class.active]="selectedConnexionService.isSelectedDisplay">
        <app-input-selected
          [dataSelected]="emailMembers"
          (inputValueChange)="emailValue = $event"
          [selected]="selectedConnexionService"
        />
      </div>
    </div>

    <div class="labelInput">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" [(ngModel)]="passwordValue" />
      <a [routerLink]="pathForgotPassword">Mot de passe oublié</a>
    </div>

    <button class="buttonSubmit" type="submit">Envoyer</button>
  </form>

  @if (isSubmitted) {
    <div class="formMessageSubmit">
      <app-form-message
        [isFormValid]="isFormValid"
        [canSubmit]="formMessages[0]"
        [cannotSubmit]="formMessages[1]"
      />
    </div>
  }
</div>
