@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

.connexion_container {
  grid-column: 2/12;

  @include widthFormAuthPage;

  @media (max-width: 768px) {
    @include layout;
  }

  form {
    @media (max-width: 768px) {
      grid-column: 2/12;
    }

    a {
      font-size: 1rem;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
