@use './variables' as *;

@mixin layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

@mixin heightPageFull {
  :host {
    min-height: 100vh;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}

@mixin headerNavItem {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 300;

  img {
    width: 1.69rem;
    height: 1.69rem;
  }
}

@mixin footer {
  padding: 1rem 0;
  background: $green;
  background: linear-gradient(0deg, rgba(35, 108, 3, 1) 0%, rgba(35, 108, 3, 0.6) 100%);
  box-shadow: 0.25rem 0 1rem 0 rgba(0, 0, 0, 0.6);
  @include layout;
}

@mixin redBold {
  font-weight: bold;
  color: $red;
}

@mixin spaceText {
  display: flex;
  gap: 0.5rem;
}

@mixin sectionGray {
  background: $gray;
  box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.6);
}

@mixin widthFormAuthPage {
  width: 21.562rem;

  @media (min-width: 1441px) {
    width: 28rem;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

@mixin locations-times {
  ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2.25rem;
    list-style: none;

    @media (min-width: 1441px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 3.125rem;
    }

    @media (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 3.125rem;
    }

    li {
      margin: auto;
      width: 12.5rem;
      height: 12.5rem;

      @media (max-width: 768px) {
        width: 200px;
        height: 200px;
      }

      a,
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }

      a {
        display: flex;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@mixin trainingCardBackground {
  position: relative;
  background: $gray;
  box-shadow: inset 0 0 2.5rem 0 rgb(147, 147, 147);
}

@mixin trainingCardTitle {
  margin-bottom: 1.75rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: $black;
}

@mixin schedules {
  .schedules {
    margin-bottom: 1rem;
    @include spaceText;

    .day {
      font-weight: bold;
      color: $red;
    }
  }
}

@mixin label {
  color: $red;
  font-weight: bold;
}

@mixin input {
  padding: 0.625rem;
  background: #fdfcfc;
  border: 1px solid black;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
}

@mixin inputSubmit {
  min-height: 2.5rem;
  @include input;
}

@mixin buttonSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red;
  font-weight: bold;
  color: white;
  border: 0;
  box-shadow: 0 0 0.75rem 0rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@mixin buttonInactive {
  &.inactive {
    background-color: $gray;
    cursor: not-allowed;
  }
}

@mixin buttonInactiveSlidesShow {
  &.inactive {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@mixin usersEspace {
  margin: $marginSection 0;
  background-color: $gray;
}

@mixin card {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 1rem 0.25rem rgba(0, 0, 0, 0.5);
}

@mixin card-layout {
  @include usersEspace;

  h2,
  ul {
    grid-column: 2/12;
  }

  ul {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    list-style: none;

    @media (max-width: 768px) {
      justify-content: center;
    }

    li {
      @include card;
      a {
        width: 11.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        text-decoration: none;
        color: black;
        cursor: pointer;

        img {
          width: 9.375rem;
          aspect-ratio: 1;
        }

        p {
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}

@mixin videoPlay {
  ::ng-deep youtube-player div,
  ::ng-deep youtube-player iframe {
    width: 100% !important;
    height: 100% !important;
  }
}

@mixin buttonSelected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

@mixin selected {
  img {
    height: 2rem;
    aspect-ratio: 1;
    transition: all 0.4s ease;
    cursor: pointer;

    &.active {
      transform: rotate(180deg);
    }
  }

  .selected {
    position: absolute;
    z-index: -10;
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease;

    &.active {
      z-index: 10;
      opacity: 1;
    }
  }
}

@mixin studentDashboardContainer {
  height: $heightDashboardContainer;
  background-color: rgba(218, 218, 218, 0.6);
  @include layout;

  @media (max-width: 768px) {
    height: auto;
  }

  .menu {
    grid-column: 1/4;
    background-color: rgba(218, 218, 218, 1);
    border-right: 4px solid black;

    @media (max-width: 768px) {
      grid-column: 1/13;
      border: 0;
    }
  }

  .content {
    grid-column: 4/13;

    @media (max-width: 768px) {
      grid-column: 1/13;
    }
  }
}

@mixin studentDashboardContent {
  height: calc($heightDashboardContainerOverflow + 1.25rem);
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1.25rem;

  @media (max-width: 768px) {
    height: 100%;
    grid-template-columns: repeat(10, 1fr);
  }

  .content_container {
    grid-column: 1/10;
    margin-bottom: 1.25rem;

    @media (max-width: 768px) {
      grid-column: 1/11;
    }

    h3,
    .description {
      margin: 0 7.5rem 0.5rem 2rem;

      @media (max-width: 768px) {
        margin: 0 0 0.5rem 0;
      }
    }
  }
}

@mixin managePlaceTimesFormInput {
  input {
    margin-bottom: 1.25rem;
    height: 1.75rem;
    @include input;
  }
}

@mixin managePlaceTimesFormTitleCreate {
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  text-decoration: underline;
}

@mixin multipleChoice {
    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 2.5rem;
      list-style: none;

      @media (max-width: 1024px) {
        gap: 1.25rem;
      }

      @media (max-width: 768px) {
        padding: 0;
        flex-direction: column;
        gap: 0.75rem;
      }
      
  li {
    label {
      position: relative;

      &.active {
        font-weight: 600;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }}
}

@mixin updateDeleteButtonDisplay {
  .delete,
  .update {
    padding: 0;
    background-color: transparent;
    border: 0;
    height: 1.25rem;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0 !important;
    }
  }

  .update {
    aspect-ratio: 1;
  }

  .delete {
    aspect-ratio: 0.888;
  }
}

@mixin updateDeleteButtonPosition {
  .delete,
  .update {
    position: absolute;
    top: 0.5rem;
    z-index: 1;
  }

  .update {
    left: 0.5rem;
  }

  .delete {
    right: 0.5rem;
  }
}
