@use '../../../../../../mixins' as *;

.file {
  height: 100%;
  aspect-ratio: 1.77;
  
  &.active {
    height: auto;
  }

  button {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      opacity: 0.6;
      object-fit: cover;
      object-position: top;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}
