@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

.slideShow {
  margin-bottom: 2.5rem;
  margin-right: 4.25rem;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  justify-content: center;
  gap: 1.25rem;

  @media (max-width: 768px) {
    margin-right: 0;
    display: flex;
    align-items: center;
  }

  button {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    .chevron-left,
    .chevron-right {
      height: 2rem;
    }

    &.inactive {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .slideShow_container {
    position: relative;
    width: 100%;
    height: 14rem;
    overflow: hidden;

    &.no-slideShow {
      grid-column: 1/3;
      margin: 0 3.25rem;

      @media (max-width: 768px) {
        margin: 0;
        width: 22rem;
        height: 100%;
      }
    }
    .slides {
      height: 100%;
    }
  }
}
