@use '../../../../../../../../mixins' as *;

fieldset {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;

  @include managePlaceTimesFormInput;

  .selected {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;

    &.active {
      top: 5.5rem;
    }
  }

  .schedule-form {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.25rem;

    .day {
      grid-column: 1/4;

      @media (max-width: 1024px) {
        grid-column: 1/6;
      }

      @media (max-width: 768px) {
        grid-column: 1/11;
      }

      button {
        height: 3.07rem;
        @include buttonSelected;
        @include input;
      }

      @include selected;
    }

    .startTime {
      grid-column: 4/5;
      width: 5.71rem;

      @media (max-width: 1024px) {
        grid-column: 6/7;
      }

      @media (max-width: 768px) {
        grid-column: 1/6;
        width: 100%;
      }
    }

    .endTime {
      grid-column: 5/6;
      width: 5.71rem;

      @media (max-width: 1024px) {
        grid-column: 7/8;
      }

      @media (max-width: 768px) {
        grid-column: 6/11;
        width: 100%;
      }
    }
  }

  .condition {
    grid-column: 6/11;
    @include selected;

    @media (max-width: 1024px) {
      grid-column: 1/11;
    }

    input {
      padding-right: 3rem;
    }

    button {
      position: absolute;
      right: 0;
      bottom: 1.625rem;
      height: 2rem;
      aspect-ratio: 1;
      background-color: transparent;
      border: 0;

      img {
        height: 100%;
        aspect-ratio: 1;
      }
    }
  }

  .buttonSubmit {
    grid-column: 1/11;
  }
}

.training-create {
  margin: 1.25rem 0 2.5rem 0;

  .title-create {
    @include managePlaceTimesFormTitleCreate;
  }

  button {
    padding: 0;
    background-color: transparent;
    border: 0;
    height: 1rem;
    aspect-ratio: 0.888;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .schedules-container {
    ul {
      grid-column: 8/11;
      padding-left: 1.5rem;
      display: flex;
      flex-direction: column;

      @include schedules;

      .schedules {
        align-items: center;

        .condition {
          font-style: italic;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }
}
