<section>
  <div class="container">
    <div
      #slidesShow
      class="slidesShow transition"
      [style.transform]="'translateX(' + translateX + 'px)'"
    >
      @for(image of imageSlidesShow; track image.img.alt; let isLast = $last) {
      <img [src]="image.img.src" [alt]="image.img.alt" />
      }
      <img [src]="imageSlidesShow[0].img.src" [alt]="imageSlidesShow[0].img.alt" class="clone" />
    </div>

    <div class="allImages">
      @for(image of imageSlidesShow; track image.img.alt; let isLast = $last) {
      <div [class]="!isLast ? 'borderRight' : ''">
        <img
          [src]="image.img.src"
          [alt]="image.img.alt"
          (click)="selectSlide({ alt: image.img.alt })"
          [class.active]="indexMainImage === imageSlidesShow.indexOf(image)"
          loading="eager"
        />
      </div>
      }
    </div>
  </div>
</section>
