<section>
  <div class="container">
    <div
      #slidesShow
      class="slidesShow transition"
      [style.transform]="'translateX(' + translateX + 'px)'"
    >
      @for(image of imageSlidesShow; track image.alt; let isLast = $last) {
      <img [src]="image.src" [alt]="image.alt"/>
      }
      <img [src]="imageSlidesShow[0].src" [alt]="imageSlidesShow[0].alt" class="clone"/>
    </div>

    <div class="allImages">
      @for(image of imageSlidesShow; track image.alt; let isLast = $last) {
      <div [class]="!isLast ? 'borderRight' : ''">
        <img
          [src]="image.src"
          [alt]="image.alt"
          (click)="selectSlide({ alt: image.alt })"
          [class.active]="indexMainImage === imageSlidesShow.indexOf(image)"
          loading="eager"
        />
      </div>
      }
    </div>
  </div>
</section>
