@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

$border: 0.375rem solid $black;
$border-mobile: 0.25rem solid $black;

section {
  @include layout;

  .container {
    margin: auto;
    grid-column: 3/11;
    width: 58.889rem;
    height: 35.58rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    border: $border;

    @media (max-width: 1024px) {
      grid-column: 2/12;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      border: $border-mobile;
    }

    .slidesShow {
      display: flex;

      img {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        aspect-ratio: 2.08 / 1;
      }
    }

    .transition {
      transition: transform 0.4s ease-in-out;
    }

    .allImages {
      grid-column: 3/11;

      // Prevent unwanted white space between borders and images
      display: flex;

      border-top: $border;

      @media (max-width: 768px) {
        border-top: $border-mobile;
      }

      div {
        width: 25%;

        // Prevent unwanted white space between borders and images
        display: flex;
        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 2.08 / 1;
          cursor: pointer;
        }
        .active {
          opacity: 0.4;
        }
      }

      .borderRight {
        border-right: $border;

        @media (max-width: 768px) {
          border-right: $border-mobile;
        }
      }
    }
  }
}
