@use '../../mixins' as *;
@use '../../variables' as *;

section {
  @include layout;

  button {
    width: 100%;
  }

  article {
    margin: 0 2rem;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $gray;

    @media (max-width: 768px) {
      margin: 0;
    }

    h2,
    p {
      @include widthFormAuthPage;
    }
  }

  .connexion {
    grid-column: 2/7;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media (max-width: 768px) {
      grid-column: 1/13;
      @include layout;
    }
  }

  .inscription {
    grid-column: 7/12;
    gap: 2.5rem;

    @media (max-width: 768px) {
      grid-column: 1/13;
      @include layout;
    }
  }
}
