@use '../../../../../../../../mixins' as *;

fieldset {
  display: flex;
  flex-direction: column;
  @include managePlaceTimesFormInput;

  .subTitle {
    grid-column: 1/11;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: underline;
  }
}

.categories-create {
  margin: 1.25rem 0;

  .title-create {
    @include managePlaceTimesFormTitleCreate;
  }

  ul {
    padding: 0 1.25rem;
    list-style: none;
  }

  .categories-create_container {
    @include locationsCategories;

    li {
      position: relative;
      .container {
        button {
          position: absolute;
          top: 0.5rem;
          padding: 0;
          background-color: transparent;
          border: 0;
          height: 1.25rem;
          aspect-ratio: 0.888;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .update {
          left: 0.5rem;
        }

        .delete {
          right: 0.5rem;
        }
      }
    }
  }
}
