<fieldset>
  <legend>Categories</legend>

  <div class="labelInput">
    <label for="titleCategory">Entraînement pour :</label>
    <input type="text" id="titleCategory" [(ngModel)]="titleCategory" name="titleCategory" />
  </div>

  <div class="categories-schedule">
    <p class="label">Cliquer sur le ou les concerné(s) :</p>

    <ul>
      @for (category of categoriesData; track $index) {
      <li>
        <label [class.active]="category.add">
          <input type="checkbox" [(ngModel)]="category.add" id="{{ category.id }}" />
          {{ category.value }}
        </label>
      </li>

      }
    </ul>
  </div>

  <app-manage-places-times-form-schedule [(schedules)]="schedules" [(isSubmitted)]="isSubmittedSchedule"/>

  <button class="buttonSubmit" type="submit" (click)="createCategories()">
    Enregister l'entraînement
  </button>

  @if(isSubmitted) {
  <app-form-message
    [isFormValid]="isFormValid"
    [canSubmit]="formMessage[0]"
    [cannotSubmit]="formMessage[1]"
  />
  }
</fieldset>

<div class="categories-create">
  <p class="title-create">Catégorie(s) créée(s) :</p>

  @if(categoriesDisplay.length > 0) {
  <div class="cards-create">
    <app-training-card
      [cards]="categoriesDisplay"
      [isUpdate]="true"
      [onUpdateCategory]="updateCategories"
      [isDelete]="true"
      [onDeleteCategory]="deleteCategories"
      [isCategories]="true"
    />
  </div>

  }
</div>
