@use '../../../../../../../../mixins' as *;

fieldset {
  display: flex;
  flex-direction: column;
  @include managePlaceTimesFormInput;

  .categories-schedule {
    margin: 1.25rem 0;
    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    ul {
      padding: 0;
      width: 19rem;
      display: flex;
      justify-content: space-between;
      list-style: none;

      li {
        label {
          @include multipleChoice;
        }
      }
    }
  }
}

.categories-create {
  margin: 1.25rem 0;

  .title-create {
    @include managePlaceTimesFormTitleCreate;
  }

  .cards-create {
    margin-left: 1.25rem;

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
}
