@use '../../../../../../../../mixins' as *;
@use '../../../../../../../../variables' as *;
@use '../manage-users-form/manage-users-form.component.scss' as *;

fieldset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;

  input {
    height: $inputHeight;
    @include input;
  }

  .labelInput {
    margin-bottom: 1.25rem;
    @include selected;

    button {
      @include buttonSelected;
      @include input;
    }

    .selected {
      top: 5rem;
      left: 0;
      &.active {
        top: 5.75rem;
      }
    }

    .grade {
      background-color: transparent;

      @include buttonInactive;
    }
  }

  .training {
    grid-column: 1/4;
  }

  .buttonSubmit {
    grid-column: 1/4;
    width: 100%;
  }

  .messageForm {
    grid-column: 1/4;
  }
}

.members-create {
  margin-top: 1.25rem;

  .title-create {
    @include managePlaceTimesFormTitleCreate;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;

    .member {
      padding: 1.25rem;

      @include trainingCardBackground;
      @include updateDeleteButton;

      .memberName {
        @include trainingCardTitle;
      }

      .subTitle {
        @include redBold;
      }

      .text,
      .trainings {
        margin-bottom: 1.25rem;
      }

      .text {
        display: flex;
        gap: 0.5rem;
      }

      .trainings {
        .subTitle {
          margin-bottom: 0.75rem;
        }
        .trainings_container {
          padding-left: 1.25rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1.25rem;

          .training {
            width: max-content;

            .city {
              margin-bottom: 0.5rem;
              text-align: center;
              color: $red;
              font-weight: 600;
            }

            .trainingSchedules {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              .schedules {
                display: flex;
                gap: 0.5rem;

                .day {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}
