<a class="link" [routerLink]="routerLink()"
  ><img src="/assets/icons/arrow-left.svg" alt="Flèche de retour"
/></a>

<section>
  <h2>{{ citiyInfo?.city }}</h2>

  <div class="categories">
    <app-training-card [cards]="categories" />
  </div>

  <div class="mapAdress">
    <div class="map">
      <h2>Localisation :</h2>

      <app-locations-times-location-map
        [lat]="citiyInfo?.coord?.[0] ?? 0"
        [lng]="citiyInfo?.coord?.[1] ?? 0"
      />
    </div>

    <div class="address">
      <h2 class="title">Adresse :</h2>

      <ul>
        <li class="name">
          {{ citiyInfo?.nameRoom }}
          @if (citiyInfo?.comment) {
            *
          }
        </li>

        <li>{{ citiyInfo?.adress }}</li>

        <li>{{ citiyInfo?.postalCode }} {{ citiyInfo?.city }}</li>

        <li>
          <a [href]="'tel:' + numberPhoneLink(citiyInfo?.numberPhone)">{{
            citiyInfo?.numberPhone
          }}</a>
        </li>
        @if (citiyInfo?.comment) {
          <li class="comment">* {{ citiyInfo?.comment }}</li>
        }
      </ul>
    </div>
  </div>
</section>
