@use '../../../../../../../../styles/mixins' as *;

fieldset {
  display: flex;
  flex-direction: column;
  @include managePlaceTimesFormInput;

  .categories-schedule {
    margin: 1.25rem 0;
    display: flex;
    gap: 1rem;
    
    @include multipleChoice;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

.categories-create {
  margin: 1.25rem 0;

  .title-create {
    @include managePlaceTimesFormTitleCreate;
  }

  .cards-create {
    margin-left: 1.25rem;

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
}
