@use '../../../../../../styles/mixins' as *;
@use '../../../../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  @include sectionGray;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      @include widthFormAuthPage;

      input {
        @include inputSubmit;
      }
    }
  }
}
