<div class="container">
  <div class="title" (click)="displayMenu()">
    <h2>Menu</h2>

    @if(innerWidth <= 768) {
    <img
      class="chevron"
      [class.active]="isMenu"
      src="/assets/icons/chevron-down.svg"
      alt="Fleche pour d'autres utilisateur"
    />
    }
  </div>

  <nav [class.active]="isMenu">
    <ul>
      @for(button of allButtons; track $index) {
      <li>
        <button [class.active]="toggleContentUser.content() === button" (click)="toggleContentUser.toggleContent(button)">
          {{ button}}
        </button>
      </li>
      }
    </ul>
  </nav>
</div>
