@use '../../../../../../../../styles/mixins' as *;

h3 {
  margin-bottom: 1.25rem;
}

@include managePlaceTimesFormInput;

form {
  .general {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.25rem;

    h4,
    .nameRoom {
      grid-column: 1/6;

      @media (max-width: 768px) {
        grid-column: 1/12;
      }
    }

    .comment {
      grid-column: 6/12;

      @media (max-width: 768px) {
        grid-column: 1/12;
      }
    }

    .adress {
      grid-column: 1/5;

      @media (max-width: 768px) {
        grid-column: 1/12;
      }
    }

    .postalCode {
      grid-column: 5/7;

      @media (max-width: 768px) {
        grid-column: 1/6;
      }
    }

    .city {
      grid-column: 7/12;

      @media (max-width: 768px) {
        grid-column: 1/12;
      }
    }

    .lat {
      grid-column: 1/3;

      @media (max-width: 768px) {
        grid-column: 1/6;
      }
    }
    .lng {
      grid-column: 3/5;

      @media (max-width: 768px) {
        grid-column: 6/12;
      }
    }

    .numberPhone {
      grid-column: 5/8;

      @media (max-width: 1024px) {
        grid-column: 5/9;
      }

      @media (max-width: 768px) {
        grid-column: 1/12;
      }
    }

    .img {
      grid-column: 8/12;
      position: relative;

      @media (max-width: 1024px) {
        grid-column: 1/12;
      }

      #img {
        &.active {
          color: transparent;
        }
      }

      span {
        position: absolute;
        top: 3.375rem;
        right: 1rem;
        font-size: 1.25rem;
      }
    }
  }
}

.resetForm {
  margin-top: 1.25rem;
  width: 100%;
}
