@use '../../../../../../../../mixins' as *;

:host {
  @include layout;
}

h3,
form {
  grid-column: 1/13;
}

input {
  margin-bottom: 1.25rem;
  height: 1.75rem;
  @include input;
}

form {
  .general {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.25rem;

    h4,
    .nameRoom {
      grid-column: 1/6;
    }

    .comment {
      grid-column: 6/12;
    }

    .adress {
      grid-column: 1/5;
    }

    .postalCode {
      grid-column: 5/7;
    }

    .city {
      grid-column: 7/12;
    }

    .lat {
      grid-column: 1/3;
    }
    .lng {
      grid-column: 3/5;
    }

    .numberPhone {
      grid-column: 5/8;
    }

    .img {
      grid-column: 8/12;
    }
  }

  .categories {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-top: 2px solid black;

    .subTitle {
      grid-column: 1/11;
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      font-weight: 600;
      text-decoration: underline;
    }

    .training {
      padding-bottom: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      border-bottom: 2px solid black;

      .selected {
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;

        &.active {
          top: 5.5rem;
        }
      }

      .schedule-form {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1.25rem;

        .day {
          grid-column: 1/4;

          button {
            height: 3.07rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.25rem;
            text-align: start;
            cursor: pointer;
            @include input;

            p {
              width: 100%;
            }

            img {
              height: 2rem;
              aspect-ratio: 1;
            }
          }

          @include selected;
        }

        .startTime {
          grid-column: 4/5;
          width: 5.71rem;
        }

        .endTime {
          grid-column: 5/6;
          width: 5.71rem;
        }

        .condition {
          grid-column: 6/11;
          @include selected;

          input {
            padding-right: 3rem;
          }

          button {
            position: absolute;
            right: 0;
            bottom: 1.625rem;
            height: 2rem;
            aspect-ratio: 1;
            background-color: transparent;
            border: 0;

            img {
              height: 100%;
              aspect-ratio: 1;
            }
          }
        }

        .buttonSubmit {
          grid-column: 1/11;
          margin-bottom: 1.25rem;
        }
      }

      .training-create {
        margin-bottom: 1.25rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;

        .info {
          margin-bottom: 1rem;
          font-weight: 500;
        }

        button {
          padding: 0;
          background-color: transparent;
          border: 0;
          height: 1rem;
          aspect-ratio: 0.888;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .schedules-container {
          grid-column: 1;
          ul {
            grid-column: 8/11;
            padding-left: 1.5rem;
            display: flex;
            flex-direction: column;

            @include schedules;

            .schedules {
              align-items: center;
            }
          }
        }
      }
    }
  }

  .submitTraining {
    margin-top: 1.25rem;
  }

  .categories-create {
    padding-bottom: 2.5rem;
    border-bottom: 2px solid black;
    .text {
      margin-bottom: 1.25rem;
      font-weight: 500;
    }

    ul {
      padding: 0 1.25rem;
      list-style: none;
    }

    .categories-create_container {
      flex-wrap: wrap;
      @include locationsCategories;

      li {
        position: relative;
        .container {
          button {
            position: absolute;
            top: 0.5rem;
            padding: 0;
            background-color: transparent;
            border: 0;
            height: 1.25rem;
            aspect-ratio: 0.888;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .update {
            left: 0.5rem;
          }

          .delete {
            right: 0.5rem;
          }
        }
      }
    }
  }
}
