@use '../../../../../../../../mixins' as *;

h3 {
  margin-bottom: 1.25rem;
}

@include managePlaceTimesFormInput;

form {
  .general {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.25rem;

    h4,
    .nameRoom {
      grid-column: 1/6;
    }

    .comment {
      grid-column: 6/12;
    }

    .adress {
      grid-column: 1/5;
    }

    .postalCode {
      grid-column: 5/7;
    }

    .city {
      grid-column: 7/12;
    }

    .lat {
      grid-column: 1/3;
    }
    .lng {
      grid-column: 3/5;
    }

    .numberPhone {
      grid-column: 5/8;
    }

    .img {
      grid-column: 8/12;
      position: relative;

      #img {
        &.active {
          color: transparent;
        }
      }

      span {
        position: absolute;
        top: 3.375rem;
        right: 1rem;
        font-size: 1.25rem;
      }
    }
  }
}
