@use '../../../../mixins' as *;
@use '../../../../variables' as *;

footer {
  padding: 1rem 0;
  background: $green;
  background: linear-gradient(0deg, rgba(35, 108, 3, 1) 0%, rgba(35, 108, 3, 0.6) 100%);
  box-shadow: 0.25rem 0 1rem 0 rgba(0, 0, 0, 0.6);
  @include layout;

  div {
    align-items: end;
    @include spaceText;
  }

  .phone {
    grid-column: 4/6;
    @media (max-width: 1024px) {
      grid-column: 2/4;
    }

    @media (max-width: 768px) {
      grid-column: 2/12;
    }
  }

  .mail {
    grid-column: 6/9;

    @media (max-width: 1024px) {
      grid-column: 5/9;
    }

    @media (max-width: 768px) {
      grid-column: 2/12;
    }
  }

  a,
  p {
    color: white;
    font-size: 1.125rem;
  }

  p {
    font-weight: 400;
  }

  a {
    font-weight: 300;
  }

  .legalesMentions {
    grid-column: 10/12;
    display: flex;
    justify-content: end;
    align-items: end;

    @media (max-width: 1024px) {
      grid-column: 10/13;
      justify-content: start;
    }

    @media (max-width: 768px) {
      grid-column: 2/12;
    }
  }

  //  The logo is in a div in development
  .alignDev {
    grid-column: 2/4;

    @media (max-width: 1024px) {
      grid-column: 1/13;
      margin: 0 auto;
    }
  }
}
