img {
  grid-column: 2/4;
  width: 12.75rem;
  height: 4.56rem;
  cursor: pointer;

  @media (max-width: 1023px) {
    grid-column: 1/13;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    width: 8.5rem;
    height: 3.04rem;
  }
}
