@use '../../../../mixins' as *;

ul {
  padding: 0;
  max-height: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  overflow: auto;
  @include input;

  @media (max-width: 768px) {
    max-height: 100%;
  }

  li {
    cursor: pointer;
  }
}
