@use "../../../../../../../../styles/mixins" as *;
@use "../../../../../../../../styles/variables" as *;

section {
  .return,
  h2 {
    grid-column: 2/12;
  }

  .odd {
    grid-column: 2/6;
  }

  .even {
    grid-column: 8/12;
  }

  @media (max-width: 768px) {
      .even, .odd {
        grid-column: 2/12;
      }
    }

  article {
    margin-bottom: $marginArticle;

    h3 {
      margin-bottom: 1.5rem;
    }

    form {
      .picture {
        position: relative;
        width: 100%;

        img {
          width: 100%;
          aspect-ratio: 2.08;
          border: 1px solid $black;
        }

        label {
          display: block;
          width: 100%;
          text-align: center;
          font-weight: 600;
        }

        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          aspect-ratio: 2.08;
          opacity: 0;
          cursor: pointer;
        }
      }

      .description {

        input {
          @include input;
        }
      }
    }
  }
}
