@use '../../../../../../../../styles/mixins' as *;
@use '../manage-resources-form/manage-resources-form.component.scss' as *;

.resource-created,
.content-create {
  margin-top: 1.25rem;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  input {
    height: $heightInput;
  }

  input,
  .input {
    @include input;
  }

  .input {
    @include buttonSelected;
  }

  .multipleChoice {
    @include multipleChoice;

    ul {
      margin-top: 2rem;
    }
  }

  .type {
    @include selected;

    .selected {
      top: 5.3125rem;

      &.active {
        top: 5.8125rem;
      }
    }
  }

  .messageChoiceType {
    color: black;
    font-weight: bold;
  }

  .create-link {
    margin-top: 2.5rem;
  }

  .buttonSubmit {
    grid-column: 1/3;
    margin-top: 1.25rem;
  }
}

.create-resource {
  grid-column: 1/3;
  margin-top: 1.25rem;
}

.resource-created,
.content-create {
  margin-top: 1.25rem;
}

.resource-created {
  .title {
    @include managePlaceTimesFormTitleCreate;
  }

  ul {
    padding: 0 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    list-style: none;

    li {
      position: relative;
      @include updateDeleteButtonDisplay;
      @include updateDeleteButtonPosition;

      .grade {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
