@use '../../../../../mixins' as *;

section {
  @include dashboardEspace;

  h2,
  .container {
    grid-column: 2/12;
  }

  .container {
    display: flex;
    justify-content: space-around;
    gap: 4rem;

    a {
        width: 12rem;
        height: 12rem;
      @include dashboardCard;
    }
  }
}
