@use '../../../../variables' as *;
@use '../../../../mixins' as *;

.messageForm {
  margin-top: 2rem;
  font-weight: bold;

  @include widthFormAuthPage;
}

.messageFormTrue {
  color: $green;
}

.messageFormFalse {
  color: black;
}
