@use '../../../../../../mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;

    .filter {
      width: 18rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .content {
        position: relative;
        @include selected;

        button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
          cursor: pointer;
          @include inputSubmit;
        }
        .selected {
          top: 3.25rem;
          left: 0;

          &.active {
            top: 3.3125rem;
          }
        }
      }
    }
  }
}
