@let array = dashboardData;

<div class="container">
  <div class="title">
    <h2>{{ array?.title }}</h2>

    @if (manageResourcesService.isAdmin) {
      <div class="buttonsAdmin">
        <button class="update" (click)="manageResourcesFormService.updateResource(array?.id)">
          <img src="/assets/icons/pencil.svg" alt="Icon pour modifier" />
        </button>

        <button class="delete" (click)="manageResourcesFormService.deleteResource(array?.id)">
          <img src="/assets/icons/trash.svg" alt="Icon pour supprimer" />
        </button>
      </div>
    }
  </div>
  <div #content class="content">
    @for (content of array?.content; track $index) {
      <div class="content_container">
        <h3>{{ content.subTitle }}</h3>

        @if (content.description.length > 0) {
          <p class="description">{{ content.description }}</p>
        }

        <app-student-dashboard-slide-show
          [dashboardData]="array"
          [contentData]="content"
          [indexContent]="content.id"
        />
      </div>
    }
  </div>
</div>
