<h2>Ajouter ou modifier un compte</h2>

<form>
  <fieldset>
    <legend>Informations générales</legend>

    <div class="email labelInput">
      <label for="email">Email</label>

      <input type="email" id="email" />
    </div>

    <div class="type labelInput">
      <p class="label">Statut</p>

      <button (click)="selectedStatut.toggleSelected($event)">
        <p>{{ statutText }}</p>

        <img
          src="/assets/icons/chevron-down.svg"
          alt="Icon afficher suggestions"
          [class.active]="selectedStatut.isSelectedDisplay"
        />
      </button>

      <div class="selected" [class.active]="selectedStatut.isSelectedDisplay">
        <app-input-selected
          [dataSelected]="statutData"
          (inputValueChange)="statutText = $event"
          [selected]="selectedStatut"
        />
      </div>
    </div>
  </fieldset>

  <app-manage-users-form-members />

  <button class="buttonSubmit">Enregistrer l'adhérent</button>
  <button class="buttonSubmit">Annuler</button>
</form>
