@use '../../../../styles/mixins' as *;

ul {
  padding: 0;
  max-height: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  overflow: auto;
  @include input;

  @media (max-width: 768px) {
    max-height: 100%;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    p,
    .button-trash {
      cursor: pointer;
    }

    .button-trash {
      height: 1.25rem;
      border-radius: 0 !important;
      border: 0;
      background-color: transparent;

      img {
        height: 100%;
        aspect-ratio: 0.888;
      }
    }
  }
}
