<section>
  <h2>Mentions légales :</h2>

  <article>
    <h3>1. Éditeur du site</h3>

    <p><strong>Nom : </strong>Grupo de Capoeira Equilibrio</p>

    <p><strong>Adresse : </strong>10 Rue de la Paix, 75002 Paris</p>

    <p><strong>Activité : </strong>« Autres organisations fonctionnant par adhésion volontaire »</p>

    <p><strong>Président(e) (ou responsable) mentionnée : </strong>Ambrine Nouhen (présidente)</p>

    <p><strong>Téléphone : </strong>06.00.00.00.00</p>

    <p><strong>Mail : </strong>contact@capoeiraequilibrio.fr</p>

    <p><strong>Directeur de la publication : </strong>Pierre Nouhen</p>
  </article>

  <article>
    <h3>2. Hébergeur</h3>

    <div class="heberger">
      <h4>Vercel :</h4>
      <p>Vercel Inc.</p>

      <p>340 S Lemon Ave #4133, Walnut, CA 91789, États-Unis</p>

      <div class="link">
        <p>Site :</p>
        <a href="https://vercel.com">https://vercel.com</a>
      </div>
    </div>

    <div class="heberger">
      <h4>Render :</h4>
      <p>Render, Inc.</p>

      <p>660 4th Street #502, San Francisco, CA 94107, États-Unis</p>

      <div class="link">
        <p>Site :</p>
        <a href="https://render.com">https://render.com</a>
      </div>
    </div>
  </article>

  <article>
    <h3>3. Propriété intellectuelle</h3>
    <p>
      L’ensemble des éléments du site (contenus, visuels, logos, design, code source, etc.) est
      protégé par le droit de la propriété intellectuelle. Toute reproduction, modification ou
      diffusion, totale ou partielle, est interdite sans autorisation préalable.
    </p>
  </article>

  <article>
    <h3>4. Responsabilité</h3>
    <p>
      L’éditeur du site s’efforce de fournir des informations fiables et mises à jour. Cependant, il
      ne peut être tenu responsable des erreurs, omissions, interruptions ou indisponibilités du
      service. Les liens externes présents sur le site n’engagent pas la responsabilité de
      l’éditeur.
    </p>
  </article>

  <article>
    <h3>5. Données personnelles (RGPD)</h3>
    <p>
      Les données collectées via le site (formulaires, création de compte, etc.) sont destinées à
      l'achat de recette de cuisine et leur accessibilité. Conformément au RGPD et à la loi «
      Informatique et Libertés », vous disposez d’un droit d’accès, de rectification, de suppression
      et d’opposition concernant vos données. Pour exercer vos droits, contactez : [email de
      contact] Vous pouvez également introduire une réclamation auprès de la CNIL (www.cnil.fr ).
    </p>
  </article>

  <article>
    <h3>6. Cookies</h3>
    <p>Il n'y a pas de cookies sur ce site internet</p>
  </article>

  <article>
    <h3>7. Droit applicable</h3>
    <p>
      Les présentes mentions légales sont régies par le droit français. En cas de litige, et à
      défaut de résolution amiable, les tribunaux compétents seront ceux du ressort de Limoges.
    </p>
  </article>
</section>
