@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

section {
  margin: 5.5rem 0;
 @include sectionGray;

  h2 {
    grid-column: 2/13;
  }

  article {
    grid-column: 3/12;
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    @media (max-width: 768px) {
        grid-column: 2/12;
    }

    .heberger {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .link {
        @include spaceText;
      }
    }
  }
}
