@use '../../../../../../../mixins' as *;
@use '../../../../../../../variables' as *;

.song {
  margin: $marginSection 0;
  background-color: $gray;
  @include layout;
  row-gap: 0 !important;

  .container {
    grid-column: 2/12;
    position: relative;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      position: absolute;
      top: 1.25rem;
      left: 0;
      font-size: 1.375rem;
      font-weight: 500;
      color: $black;
      cursor: pointer;
    }

    h2 {
      @media (max-width: 768px) {
        margin-top: 2.5rem;
      }
    }

    .author {
      margin-bottom: 0.5rem;
    }

    .interpreter {
      margin-bottom: 1.25rem;
    }

    .lyrics {
      margin-bottom: 1.25rem;
      text-align: center;
      font-weight: 500;
    }
  }
}
