@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.formMessage {
  margin-top: 2rem;
  font-weight: bold;
}

.formMessageTrue {
  color: $green;
}

.formMessageFalse {
  color: black;
}
