@use '../../mixins' as *;
@use '../../variables' as *;

section {
  @include layout;

  .container {
    grid-column: 3/11;
    // Prevent unwanted white space between borders and images
    display: flex;
    flex-direction: column;
    border: 0.375rem solid $black;

    .mainImages {
      overflow: hidden;
      display: flex;
      border-bottom: 0.5rem solid $black;
      img {
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease-in-out;
      }
    }

    .allImages {
      // Prevent unwanted white space between borders and images
      display: flex;
      grid-column: 3/11;
      div {
        // Prevent unwanted white space between borders and images
        display: flex;
        img {
          width: 100%;
          height: 100%;
        }
        .active {
          opacity: 0.4;
        }
      }

      .borderRight {
        border-right: 0.5rem solid $black;
      }
    }
  }
}
