@use '../../mixins' as *;
@use '../../variables' as *;

$border :0.375rem solid $black;
$border-mobile :0.25rem solid $black;

section {
  @include layout;

  .container {
    grid-column: 3/11;
    overflow: hidden;

    // Prevent unwanted white space between borders and images
    display: flex;
    flex-direction: column;
    border: $border;

    @media (max-width: 768px) {
      border: $border-mobile;
    }

    @media (max-width: 1024px) {
      grid-column: 2/12;
    }

    .slidesShow {
      max-width: 942px;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
      }
    }

    .transition {
      transition: transform 0.4s ease-in-out;
    }

    .allImages {
      grid-column: 3/11;
      // Prevent unwanted white space between borders and images
      display: flex;
      border-top: $border;

      @media (max-width: 768px) {
      border-top: $border-mobile;
    }

      div {
        // Prevent unwanted white space between borders and images
        display: flex;
        img {
          width: 100%;
          height: 100%;
        }
        .active {
          opacity: 0.4;
        }
      }

      .borderRight {
        border-right: $border;

        @media (max-width: 768px) {
      border-right: $border-mobile;
    }
      }
    }
  }
}
