@use './variables' as *;

@mixin layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

@mixin heightPageFull {
  :host {
    min-height: 100vh;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}

@mixin headerNavItem {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 300;

  img {
    width: 1.69rem;
    height: 1.69rem;
  }
}

@mixin footer {
  padding: 1rem 0;
  background: $green;
  background: linear-gradient(0deg, rgba(35, 108, 3, 1) 0%, rgba(35, 108, 3, 0.6) 100%);
  box-shadow: 0.25rem 0 1rem 0 rgba(0, 0, 0, 0.6);
  @include layout;
}

@mixin redBold {
  font-weight: bold;
  color: $red;
}

@mixin spaceText {
  display: flex;
  gap: 0.5rem;
}

@mixin sectionGray {
  background: $gray;
  box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.6);
}

@mixin videoPlay {
  ::ng-deep youtube-player div,
  ::ng-deep youtube-player iframe {
    width: 100% !important;
    height: 100% !important;
  }
}

@mixin widthFormAuthPage {
  width: 21.562rem;

  @media (min-width: 1441px) {
    width: 28rem;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

@mixin dashboardUserContentContainer {
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;

  h3 {
    grid-column: 1/4;
    margin: 0 2rem 0.5rem;
    width: 100%;
  }
}

@mixin dashboardUserContainer {
  position: relative;
  width: 100%;
  height: 14rem;
  overflow: hidden;

  @media (max-width: 1024px) {
    height: 10rem;
  }

  &.no-slideShow {
    grid-column: 1/3;
    margin: 0 3.25rem;
  }
}

