@use './variables' as *;

@mixin layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

@mixin redBold {
  font-weight: bold;
  color: $red;
}

@mixin spaceText {
  display: flex;
  gap: 0.5rem;
}

@mixin sectionGray {
  background: $gray;
  box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.6);
}

@mixin widthFormAuthPage {
  width: 21.562rem;

      @media (min-width: 1441px) {
        width: 28rem;
      }

      @media (max-width: 768px) {
        width: 100%;
        grid-column: 2/12;
      }
}

@mixin formAuthPage {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include widthFormAuthPage;
}
