@use './variables' as *;

@mixin layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

@mixin redBold {
  font-weight: bold;
  color: $red;
}

@mixin spaceText {
  display: flex;
  gap: 0.5rem;
}

@mixin sectionGray {
 background: $gray;
  box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.6);
}
