@use './variables' as *;

@mixin layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

@mixin heightPageFull {
  :host {
    min-height: 100vh;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}

@mixin headerNavItem {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 300;

  img {
    width: 1.69rem;
    height: 1.69rem;
  }
}

@mixin footer {
  padding: 1rem 0;
  background: $green;
  background: linear-gradient(0deg, rgba(35, 108, 3, 1) 0%, rgba(35, 108, 3, 0.6) 100%);
  box-shadow: 0.25rem 0 1rem 0 rgba(0, 0, 0, 0.6);
  @include layout;
}

@mixin redBold {
  font-weight: bold;
  color: $red;
}

@mixin spaceText {
  display: flex;
  gap: 0.5rem;
}

@mixin sectionGray {
  background: $gray;
  box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.6);
}

@mixin widthFormAuthPage {
  width: 21.562rem;

  @media (min-width: 1441px) {
    width: 28rem;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

@mixin input {
  padding: 0.625rem;
  background: #fdfcfc;
  border: 1px solid black;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
}

@mixin inputSubmit {
  min-height: 2.5rem;
  @include input;
}

@mixin buttonSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red;
  font-weight: bold;
  color: white;
  border: 0;
  box-shadow: 0 0 0.75rem 0rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@mixin usersEspace {
  margin: $marginSection 0;
  background-color: $gray;
}

@mixin card {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 1rem 0.25rem rgba(0, 0, 0, 0.5);
}

@mixin card-layout {
  @include usersEspace;

  h2,
  ul {
    grid-column: 2/12;
  }

  ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    list-style: none;

    @media (max-width: 768px) {
      justify-content: center;
    }

    li {
      a {
        width: 11.5rem;
        min-height: 12.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        text-decoration: none;
        color: black;
        cursor: pointer;
        @include card;

        img {
          width: 9.375rem;
          aspect-ratio: 1;
        }

        p {
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}

@mixin videoPlay {
  ::ng-deep youtube-player div,
  ::ng-deep youtube-player iframe {
    width: 100% !important;
    height: 100% !important;
  }
}

@mixin selected {
  img {
    height: 2rem;
    aspect-ratio: 1;
    transition: all 0.4s ease;
    cursor: pointer;

    &.active {
      transform: rotate(180deg);
    }
  }

  .selected {
    position: absolute;
    z-index: -10;
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease;

    &.active {
      z-index: 10;
      opacity: 1;
    }
  }
}
