$green: #236c03;
$black: #404040;
$red: #9b0e17;
$gray: rgba(218, 218, 218, 0.5);

$marginSection: 4.25rem;
$marginArticle: calc($marginSection - 1.25rem); 

$heightDashboardContainer: calc(100vh - 13.7rem);
$heightDashboardContainerOverflow: calc($heightDashboardContainer - 6.25rem);

