@use './mixins' as *;
@use './variables' as *;

@import 'leaflet/dist/leaflet.css';

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;

  // Responsive font-size management
  @media (min-width: 1441px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    font-size: clamp(11.38px, calc(100vw * 11.11 / 1000), 16px);
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: clamp(11.38px, calc(100vw * 14.82 / 1000), 14px);
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

h2,
h4,
strong {
  color: $black;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.25rem 0;
}

h3 {
  font-size: 1.75rem;
  @include redBold;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

p,
strong,
a,
li,
input,
textarea {
  font-size: 1.25rem;
}

header {
  padding: 1rem 0;
  background: $green;
  background: linear-gradient(0deg, rgba(35, 108, 3, 0.6) 0%, rgba(35, 108, 3, 1) 100%);
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.6);
  @include layout;
}

footer {
  padding: 1rem 0;
  background: $green;
  background: linear-gradient(0deg, rgba(35, 108, 3, 1) 0%, rgba(35, 108, 3, 0.6) 100%);
  box-shadow: 0.25rem 0 1rem 0 rgba(0, 0, 0, 0.6);
  @include layout;
}

section {
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  @include layout;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include widthFormAuthPage;
}

.labelInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 1.25rem;
  font-weight: bold;
  color: $red;
}

input,
textarea {
  padding: 0.625rem;
  height: 2.5rem;
  background: #fdfcfc;
  border: 1px solid black;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
}

.fieldError {
  background: rgba(155, 12, 23, 0.2);
}

.buttonSubmit {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border: 0;
  box-shadow: 0 0 0.75rem 0rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
