@use './mixins' as *;
@use './variables' as *;

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;

  // Responsive font-size management
  @media (min-width: 1441px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    font-size: clamp(11.38px, calc(100vw * 11.11 / 1000), 16px);
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: clamp(11.38px, calc(100vw * 14.82 / 1000), 14px);
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

body {
  margin: 0 auto;
}

h2,
h4,
strong {
  color: $black;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

h3 {
  font-size: 1.75rem;
  @include redBold;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

p,
strong,
a {
  font-size: 1.25rem;
}

section {
  padding: 20px 0;
  @include layout;
}
