@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

$heightImg: 26.125rem;

:host{
  margin: 5.5rem 0;
  display: block;
}

.container {
  margin-top: $marginSection;
  @include layout;

  .trainingResumes {
    grid-column: 2/6;
    margin: auto;
    height: 100%;

    @media (max-width: 1024px) {
      grid-column: 4/10;
    }

    @media (max-width: 768px) {
      grid-column: 2/12;
    }

    ul {
      padding:1rem 1.5rem;
      min-height: $heightImg;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.13rem;
      background: rgba(218, 218, 218, 0.4);
      box-shadow: inset 0 0 1.5rem 0 rgb(147, 147, 147);

      @media (max-width: 710px) {
        padding: 1.5rem;
        height: auto;
      }

      li {
        align-items: baseline;
        @include spaceText;

        @media (max-width: 710px) {
          flex-direction: column;
        }

        .place {
          font-size: 1.5rem;
          @include redBold;
        }

        .day {
           color: $black;
           font-size: 1.25rem;
          font-weight: 600;
        }
      }
    }
  }

  .brazilianDances {
    grid-column: 7/12;
    margin: auto;
    height: 100%;

    @media (max-width: 1024px) {
      grid-column: 4/10;
      margin-top: $marginArticle;
    }

    @media (max-width: 768px) {
      grid-column: 2/12;
    }

    a {
      display: block;
      width: 36.75rem;
      height: $heightImg;
      cursor: pointer;

      @media (max-width: 1024px) {
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
