<h3>Cliquez sur les élèves présents :</h3>

<div class="choice-date">
  <button type="button" (click)="previousDate()">
    <img src="/assets/icons/chevron-left.svg" alt="Icon pour afficher la date précédante" />
  </button>

  <p class="date">{{ dateDisplay }}</p>

  <button type="button" (click)="nextDate()">
    <img src="/assets/icons/chevron-right.svg" alt="Icon pour afficher la date suivante" />
  </button>
</div>

<form (ngSubmit)="onSubmit()">
  <table>
    <thead>
      <tr>
        <th class="name-column">Nom de l'adhérent</th>
        <th class="checkbox-column">Présence</th>
        <th>Nb cours / sem.</th>
      </tr>
    </thead>
    <tbody>
      @for (user of planningService.users(); track $index) {
        <tr>
          <td>
            <label for="checkbox-{{ $index }}">{{ user.memberName }}</label>
          </td>
          <td>
            <div class="td-checkbox">
              <input
                type="checkbox"
                id="checkbox-{{ $index }}"
                [(ngModel)]="user.present"
                name="attendance-{{ $index }}"
              />
            </div>
          </td>
          <td>
            <p class="regularity">{{ user.numberTrainningSessions }}</p>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <button class="buttonSubmit" type="submit">Enregistrer</button>
</form>

@if (isSubmitted) {
  <app-form-message
    [isFormValid]="isFormValid"
    [canSubmit]="formMessage[0]"
    [cannotSubmit]="formMessage[1]"
  />
}
