@use '../../../../../../variables' as *;

:host {
  .today {
    text-align: center;
    font-weight: bold;
  }

  h3,
  .today {
    margin-bottom: 1.25rem;
  }

  form {
    width: 100%;

    table,
    th,
    td {
      border: 1px solid black;
      padding: 0.25rem;
    }

    table {
      border-collapse: collapse;

      thead {
        .name-column {
          width: 57.3%;
        }

        .checkbox-column {
          width: 19%;
        }
      }

      label {
        word-break: break-all;
      }

      .td-checkbox {
        display: flex;
        justify-content: center;

        input {
          position: relative;
          width: 1.25rem;
          aspect-ratio: 1;
          accent-color: $gray;
          cursor: pointer;
        }
      }

      .regularity {
        text-align: center;
      }
    }
  }
}
