@use '../../../../../../variables' as *;
@use '../../../../../../mixins' as *;

:host {
  .today {
    text-align: center;
    font-weight: bold;
  }

  h3,
  .today {
    margin-bottom: 1.25rem;
  }

  form {
    width: 100%;

    table {
      border-collapse: collapse;

      thead {
        .name-column {
          width: 55.6%;
        }

        .checkbox-column {
          width: 19%;
        }
      }

      label {
        word-break: break-all;
      }

      .td-checkbox {
        display: flex;
        justify-content: center;
      }

      .regularity {
        text-align: center;
      }
    }
  }
}
