@use '../../../../../../variables' as *;
@use '../../../../../../mixins' as *;

:host {
  .choice-date {
    display: flex;
    justify-content: center;

    button {
      padding: 0;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      img {
        height: 1.5rem;
        aspect-ratio: 0.888;
      }
    }

    .date {
      width: 26rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      color: $black;
    }
  }

  h3,
  .choice-date {
    margin-bottom: 1.25rem;
  }

  form {
    width: 100%;

    table {
      border-collapse: collapse;

      thead {
        .name-column {
          width: 55.6%;
        }

        .checkbox-column {
          width: 19%;
        }
      }

      label {
        word-break: break-all;
      }

      .td-checkbox {
        display: flex;
        justify-content: center;
      }

      .regularity {
        text-align: center;
      }
    }
  }
}
