@use '../../mixins' as *;
@use '../../variables' as *;

$heightImg: 26.125rem;

.container {
  @include layout;

  .trainingResumes {
    grid-column: 2/6;

    @media (max-width: 1024px) {
      grid-column: 4/10;
    }

    @media (max-width: 768px) {
      grid-column: 2/12;
    }

    ul {
      padding: 0 1.5rem;
      height: $heightImg;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.13rem;
      background: rgba(218, 218, 218, 0.4);
      box-shadow: inset 0 0 1.5rem 0 rgb(147, 147, 147);

      @media (max-width: 420px) {
        padding: 1.5rem;
        height: 79%;
      }

      li {
        align-items: baseline;
        @include spaceText;

        @media (max-width: 420px) {
          flex-direction: column;
        }

        .place {
          font-size: 1.5rem;
          @include redBold;
        }

        .day {
          font-weight: 600;
        }
      }
    }
  }

  .brazilianDances {
    grid-column: 7/12;

    @media (max-width: 1024px) {
      grid-column: 4/10;
    }

    @media (max-width: 768px) {
      grid-column: 2/12;
    }

    a {
      display: block;
      width: 36.75rem;
      height: $heightImg;
      cursor: pointer;

      @media (max-width: 1024px) {
        width: 100%;
        height: 80.81%;
      }

      @media (max-width: 768px) {
        
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
