@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

a {
  position: absolute;
  top: -2.156rem;
  left: 7.75rem;
  width: 2.5rem;
  height: 2rem;

  @media (max-width: 1024px) {
    top: -2.078rem;
    left: 5.9rem;
  }

  @media (max-width: 768px) {
    top: -2.375rem;
    left: 8.5%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

section {
  position: relative;
  @include layout;

  h2,
  .categories {
    grid-column: 2/12;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .categories {
    display: flex;
    gap: 1.25rem;

    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    .category {
      padding: 1.5rem;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $gray;
      box-shadow: inset 0 0 2.5rem 0 rgb(147, 147, 147);

      @media (max-width: 768px) {
        width: 100%;
        gap: 0 !important;
        @include layout;
      }

      .container {
        @media (max-width: 768px) {
          grid-column: 1/13;
          @include layout;
        }
        .title {
          margin-bottom: 1.75rem;
          width: 100%;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-weight: bold;
          color: $black;

          @media (max-width: 768px) {
            grid-column: 3/12;
            height: auto;
            margin-bottom: 0;
          }
        }
        .trainingSchedules {
          @media (max-width: 768px) {
            grid-column: 3/12;
          }

          .schedules {
            margin-bottom: 1rem;
            @include spaceText;

            .day {
              font-weight: bold;
              color: $red;
            }
          }
        }
      }

      .conditions {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        @media (max-width: 768px) {
          grid-column: 4/12;
        }

        li {
          font-size: 0.875rem;
          font-style: italic;
        }
      }
    }
  }

  .oneCategory {
    justify-content: center;
  }

  .twoCategories {
    justify-content: space-around;
  }

  .threeCategories {
    justify-content: space-between;
  }

  .thridCategories {
    @media (min-width: 769px) and (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .category {
      @media (min-width: 769px) and (max-width: 1024px) {
        width: calc(100% - 3.25rem);
      }
    }
  }

  .mapAdress {
    grid-column: 1/13;
    margin-top: $marginArticle;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    background: $gray;
    @include layout;

    .map {
      grid-column: 2/7;

      @media (max-width: 768px) {
        grid-column: 2/12;
      }
    }

    .address {
      grid-column: 8/12;

      @media (max-width: 768px) {
        grid-column: 2/12;
        margin-top: $marginArticle;
      }

      .title {
        margin-top: 53%;

        @media (max-width: 768px) {
          margin-top: 0;
        }
      }

      ul {
        li {
          margin-bottom: 1.25rem;
          font-weight: 500;
        }

        .name {
          color: $red;
          font-weight: bold;
        }

        .comment {
          font-style: italic;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }
}
