@use '../../../../../../mixins' as *;
@use '../../../../../../variables' as *;

section {
    margin: 5.5rem 0;
  @include layout;

  h2,
  ul {
    grid-column: 2/12;
  }

  @include locations-times;
}
