<a routerLink="/lieux-et-horaires"
  ><img src="/assets/icon/arrow-left.svg" alt="Flèche de retour"
/></a>

<section>
  <h2>{{ info?.city }}</h2>

  <ul class="{{ changeClassCategories(info?.TrainingCategory?.length || 0) }}">
    @for (category of categories; track category.title) {
    <li class="category">
      <div class="container">
        <p class="title">{{ category.title }}</p>

        <ul class="trainingSchedules">
          @for(trainingSchedule of category?.trainingSchedule; track $index) {
          <li>
            <div class="schedules">
              <p class="day">{{ trainingSchedule.day }} :</p>

              <p class="times">
                {{ trainingSchedule.startTime }} -
                {{ trainingSchedule.endTime }} @if(trainingSchedule.condition)
                {{{trainingSchedule.condition}}}
              </p>
            </div>
          </li>
          }
        </ul>
      </div>

      @if(category.conditions.length > 0) {
      <ul class="conditions">
        @for(condition of category.conditions; track condition) {
        <li>{{ condition }}</li>
        }
      </ul>
      }
    </li>
    }
  </ul>

  <div class="mapAdress">
    <div class="map">
      <h2>Localisation :</h2>

      <app-locations-times-location-map [info]="info" />
    </div>

    <div class="address">
      <h2>Adresse :</h2>

      <ul>
        <li class="name">
          {{ info?.nameRoom }}
          @if(info?.comment) { * }
        </li>

        <li>{{ info?.adress }}</li>

        <li>{{ info?.postalCode }} {{ info?.city }}</li>

        @if(info?.comment) {
        <li class="comment">* {{ info?.comment }}</li>
        }
      </ul>
    </div>
  </div>
</section>
