<div
  class="container"
  [class.presentation]="dashboardData?.id === 'Présentation'"
  [class.no-slideShow]="links.length <= choiceEndSlidesShow || innerWidth <= 768"
  [id]="indexContent"
>
  @for (link of links; track $index) {
  @if (slidesResourcesService.isVideo(link)) {
    <app-student-dashboard-slides-videos 
    [link]="link"/>
  }

   @if (slidesResourcesService.isPdf(link)) {
    <app-student-dashboard-slides-pdf 
    [link]="link"/>
  }

  @if (slidesResourcesService.isSong(link)) {
    <app-student-dashboard-slide-song 
    [link]="link" [index]="$index + 1"/>
  }

}
</div>
